/.devcontainer/
/.git/
/.github/
/.husky/
/.rules/
/.vscode/
/.idea/
/.conda/
/.venv/
/docs/

.editorconfig
.gitignore
.gitattributes
.gitmojirc.json
.commitlintrc
.shellcheckrc
.prettierrc
*.md

CNAME
