/.devcontainer/
/.git/
/.github/
/.husky/
/.rules/
/.vscode/
/.idea/
/.conda/
/.venv/
/docs/

.commitlintrc
.editorconfig
.gitattributes
.gitignore
.gitmojirc.json
.prettierignore
.prettierrc
.shellcheckrc
*.md

CNAME
