/.devcontainer/
/.git/
/.github/
/.husky/
/.rules/
/.vscode/
/.idea/
/.conda/
/.venv/
/docs/
__pycache__/

.commitlintrc
.editorconfig
.gitattributes
.gitignore
.gitmojirc.json
.prettierignore
.prettierrc
.shellcheckrc
*.md

.env
CNAME
