**/.idea
**/.git
**/.conda
**/.venv
**/.husky/_
**/node_modules
**/__pycache__

docs/
bundle/

.commitlintrc
.editorconfig
.gitattributes
.gitignore
.prettierignore
.shellcheckrc
*.md
*.mdx
*.mdc

CNAME
